<h1><%=@user.name %>のページ</h1>
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12 col-sm-6">
          <div class="panel-body"><p>email : <%=@user.email %></p></div>
     </div>
   </div>

  <h2>お気に入り一覧</h2>
      <div class="row">
        <table class="table table-responsive">
          <thead>
           <tr>
              <th>タイトル</th>
              <th>ブロガー名</th>
            </tr>
          </thead>
          <% @favorite_blogs.each_with_index do |fav,idx| %>
          <tbody>
            <tr>
              <td><%= idx + 1 %>.<%= fav.title %></td>
              <td><%= fav.user.name %></td>
            </tr>
          </tbody>
         <% end %>
        </table>
      </div>
  </div>
</div>
